.header {
    padding: 20px 0 16px 0;
    @media (max-width: $sm-max) { 
      padding: 12px 0 8px 0;
    }
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 10px;
    background: #fff;
    border-bottom: 1px solid #E3E3E3;
    @media (max-width: $sm-max) { 
      border-bottom: none;
    }
    .header-logo {
      margin: 0 auto;
      .svg-logo {
        width: 256px;
        height: 36px;
        @media (max-width: $sm-max) { 
          width: 150px;
        }
      }
    }
  }

.nyt-header-btn {
    @include subscribe-light;
    font-size: 14px;
    @media (max-width: $sm-max) { 
      display: none;
  }
}