/*** SITE COLORS ***/
$dark: #000;
$light: #fff;
$grey1: #E3E3E3;
$grey2: #E4E4E4;

/*** RESPONSIVE BREAKPOINTS ***/
$xs-max: 575.98px;
$sm-max: 767.98px;
$md-max: 991.98px;
$lg-max: 1199.98px;
$xl-max: 1399.98px; 

$xs-min: 576px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;
$xl-min: 1400px; 